#nav-header {
  width: 100%;
  top: 0;
  z-index: 9999;
  overflow: hidden;
  position: fixed;
}

.nav-link {
  transition: color .15s ease-in-out;
}

.header-bg {
  background-color: rgba(33, 33, 33, 255);
}